{% extends "misc/base.html" %}


{% block content %}

<div class="m-3">
    <a class="btn btn-outline-danger" href="?filter=expired-only">Show expired only</a></button>
    <a class="btn btn-outline-success" href="?filter=active-only">Show Active only</a></button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Size</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for artifact in artifacts %}
            <tr>
                <td>{{ artifact.name }}
                    {% if artifact.expired %}
                        <span class="badge badge-danger">expired</span>
                    {% endif %}
                </td>
                <td>{{ artifact.created_at }}</td>
                <td>{{ artifact.size_in_bytes }} bytes</td>
                <td><a href="{{ artifact.download }}">Download</a></td>
            </tr>
    {% endfor %}
    </tbody>
{% endblock %}