<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Actions insights</title>
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>GitHub Actions Insights</strong>
                </a>
            </div>
        </div>
        <div class="container p-3">
            <a href="/">Home</a> &bull;
            {% if request.user.is_authenticated %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="{{ loginURL }}">Login</a>
            {% endif %}
        </div>
    </header>



    <main role="main">
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
