{% extends "misc/base.html" %}

{% block content %}
    {% if request.user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th colspan="3">Views</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for repo in repos %}
                <tr>
                    <td><code>{{ repo.nwo }}</code>
                        {% if repo.public %}
                            <span class="badge badge-info">public</span>
                        {% else %}
                            <span class="badge badge-warning">private</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url "artifacts" repo.id %}">Artifacts</a>
                        <span class="badge badge-{% if repo.workflow_count %}success{% else %}warning{% endif %}">{{ repo.workflow_count }}</span>
                    </td>
                    <td>
                        <a href="{% url "runs" repo.id %}">Runs</a>
                        <span class="badge badge-{% if repo.run_count %}success{% else %}warning{% endif %}">{{ repo.run_count }}</span>
                    </td>
                    <td>
                        <a href="{% url "show-repo" repo.id %}">Import more</a>
                    </td>
                    <td><a href="https://github.com/{{ repo.nwo }}">View on GitHub</a></td>
                </tr>
                {% endfor %}
             </tbody>
        </table>
        <a href="add-repo" class="btn btn-primary">Add a repo</a>
    {% else %}
        <section class="jumbotron text-center">
            <h1>👋 Actions Insights</h1>
            <p>This is a test playground app that probably doesn't work to try and get you insights into your Actions data. Maybe. First you'll need to <a href="{{ loginURL }}">login</a>.</p>
    {% endif %}
{% endblock %}
