{% extends "misc/base.html" %}
{% load custom %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Workflow</th>
            <th>Created <a href="?sort=start_time&filter={{ request.GET.filter }}">🔼</a><a href="?sort=-start_time&filter={{ request.GET.filter }}">🔽</a></th>
            <th>Elapsed time <a href="?sort=elapsed&filter={{ request.GET.filter }}">🔼</a><a href="?sort=-elapsed&filter={{ request.GET.filter }}">🔽</a></th>
            <th>Conclusion</th>
            <th>Size of artifacts</th>
        </tr>
    </thead>
    <tbody>
        {% for run in runs %}
            <tr>
                <td>{{ run.workflow.name }}</td>
                <td>{{ run.start_time }}</td>
                <td>{{ run.elapsed }}</td>
                <td>{{ run.conclusion }}</td>
                <td>{% if run.total_artifact_size != None %}
                    {{ run.total_artifact_size|filesizeformat }}
                {% endif %}
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}