{% extends "misc/base.html" %}
{% load custom %}

{% block content %}
<div class="mt-3 mb-3">
    <h5 class="border-bottom">💡 Workflow</h5>
    <table>
        <tr>
            <th class="pr-2">Name</th><td>{{ workflow.name }}</td>
        </tr>
        <tr>
            <th class="pr-2">Path</th><td><code>{{ workflow.path }}</code></td>
        </tr>
        <tr>
            <th class="pr-2">Code</th><td><a href="https://github.com/{{ workflow.repo.nwo }}/blob/master/.github/workflows/{{ workflow.path}}">.github/workflows/{{ workflow.path}}</a></td>
        </tr>
        <tr>
            <th class="pr-2">Artifacts</th>
            <td>
                {% if artifact_count %}
                    {{ artifact_count }} unexpired artifacts, {{ artifact_size.size_in_bytes__sum|filesizeformat }}
                {% else %}
                    No unexpired artifacts.
                {% endif %}
            </td>
        </tr>
    </table>
<div>

<div class="mt-3 mb-3">
    <h5 class="border-bottom">❓ Insights</h5>
    <h6>Workflow success rate</h6>
    <canvas id="runs-doughnut" data-data="{{ states|doughnut }}"></canvas>
</div>

<div class="mt-3 mb-3">
    <h5 class="border-bottom">⏲ Executions</h5>
    <table>
        <tr>
            <th class="pr-2">Run count</th><td>{{ run_count }}</td>
        </tr>
        <tr>
            <th class="pr-2">Total elapsed time</th><td>{{ elapsed_time_sum }}</td>
        </tr>
        <tr>
            <th class="pr-2">Average elapsed time</th><td>{{ elapsed_time_avg }}</td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th></th>
            <th>Ubuntu</th>
            <th>MacOS</th>
            <th>Windows</th>
        </tr>
        <tr>
            <th>Seconds</th>
            <td>{{ timings_seconds.UBUNTU }} secs</td>
            <td>{{ timings_seconds.MACOS }} secs</td>
            <td>{{ timings_seconds.WINDOWS }} secs</td>
        </tr>
        <tr>
            <th>Rounded</th>
            <td>{{ timings_rounded.UBUNTU }} mins</td>
            <td>{{ timings_rounded.MACOS }} mins</td>
            <td>{{ timings_rounded.WINDOWS }} mins</td>
        </tr>
        <tr>
            <th>Multiplied</th>
            <td>{{ timings_multiplied.UBUNTU }} mins</td>
            <td>{{ timings_multiplied.MACOS }} mins</td>
            <td>{{ timings_multiplied.WINDOWS }} mins</td>
        </tr>
        <tr>
            <th>Counts</th>
            <td>{{ counts.UBUNTU }}</td>
            <td>{{ counts.MACOS }}</td>
            <td>{{ counts.WINDOWS }}</td>
        </tr>
    </table>
</div>

{% endblock %}