{% extends "misc/base.html" %}
{% load custom %}

{% block content %}
<h2>All workflows</h2>
<p>For the repository <code>{{ repo.nwo }}</code>.</p>

<table class="table">
    <thead>
        <tr>
            <th>Path</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for workflow in workflows %}
            <tr>
                <td><code>{{ workflow.path }}</code></td>
                <td>{{ workflow.name }}</td>
                <td><a href="{% url "workflow" workflow.id %}">Summary</a></td>
            </tr>
    {% endfor %}
    </tbody>
{% endblock %}