{% extends "misc/base.html" %}
{% load custom %}

{% block content %}
<div class="mt-3 mb-3">
    <h5 class="border-bottom">💡 Workflow</h5>
    <table>
        <tr>
            <th class="pr-2">Name</th><td>{{ workflow.name }}</td>
        </tr>
        <tr>
            <th class="pr-2">Path</th><td><code>{{ workflow.path }}</code></td>
        </tr>
    </table>
<div>

<div class="mt-3 mb-3">
    <h5 class="border-bottom">❓ Insights</h5>
    <canvas id="runs-doughnut" data-data="{{ states|doughnut }}"></canvas>
</div>

{% endblock %}